.circle {
    border-radius: 50%;
    background-color: rgb(232, 220, 220);
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p {
     text-align: center;
     align-items: center;
}
.class {
    height: 50%;
    width: 50%;
}

